.recipeContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
  
    
   .recipeCard{
    position: relative;
    /* border: 1px solid red; */
    width: 350px;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    

   }
 
 .cardBtn{
    position: absolute;
    top: 10px;
    right: 10px; 
    padding: 2px 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
 }
 .title{
   padding: 1rem;
   color: white;
 }
}
