.isActive{
 background: #526ED0;
 /* border-radius: 10px; */
 color: aqua;
}
.isPending{
    background: white;
    color: red;
}
.navbar{
    width:100%;
    display: flex;
    
    justify-content: center;
    padding: .5rem;
    a{
        color: white;
        text-decoration: none;
        padding:2px .5rem;
        border-radius: 3px;
    }
}
