*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body,html{
  height: 100%;
  width: 100%;
  background: transparent;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button:active{
  scale: .9;
}