@import "../styles/mixins";
.recipeContainer {
  @include flex(space-evenly,centre,row,1rem,wrap);
  width: 100%;
//  border: 1px solid orange;
  padding: 1rem;
 
  margin-bottom: 1rem;

  .recipeCard {
    width: 400px;
    
//  border: 1px solid orange;
    aspect-ratio: 1/1;
    object-fit: cover;
    @include flex(center,center,row,1rem ,wrap);
    img {

      width: 250px;
      border-radius: 10px;
       aspect-ratio: 1/1;
      //  object-fit: cover;
    }
  }
  .recipeCard:hover {
    scale: 0.97;
  }
  a {
    text-decoration: none;
    color: var(--text);
  }

  .cardBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px 5px;
    border-radius: 10px;
    border: 1px solid var(--border);
  }

  .title {
    padding: 1rem;
    color: var(--text);
  }
}
.search {
  @include flex(space-between, center);
  margin: 2rem auto;
  max-width: 500px;
  // text-align: right;
  border-radius: 3px;
    input {
    flex: 1;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: 1px solid var(--border);

    &:focus {
      outline: none;
      border-color: var(--primary);
    }
  }
}
.container {
  @include flex(center, center, row);
  gap: 1rem;
  .veg {
    background: green;
  }
  .nonVeg {
    background: red;
  }
}
.visibility{
  opacity: 0;
  
}
.recipeCard:hover{
  .visibility{opacity: 1;}
    
  }
@include responsive(tablet) {
  .recipeContainer {
     @include flex(center,center,row,1rem ,wrap);
    .recipeCard {
      width: 100%;
    }
  }
}
@include responsive(tablet) {
  .recipeContainer {
    @include flex(center,center,row,1rem ,wrap);
    .recipeCard {
      width: 100%;
    }
  }
}