@import "../styles/mixins";
.recipeContainer {
  @include flex(center,center,row,1rem ,wrap);
 
  padding: 1rem;
 
  margin-bottom: 1rem;

  .recipeCard {
    width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    @include flex(center,center,row,1rem ,wrap);
    img {

      width: 250px;
      border-radius: 10px;
       aspect-ratio: 1/1;
      //  object-fit: cover;
    }
  }
  .recipeCard:hover {
    scale: 0.97;
  }
  a {
    text-decoration: none;
    color: white;
  }

  .cardBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  .title {
    padding: 1rem;
    color: white;
  }
}
.search {
  text-align: right;
  border-radius: 3px;
}
.container {
  @include flex(center, center, row);
  gap: 1rem;
  .veg {
    background: green;
  }
  .nonVeg {
    background: red;
  }
}
.visibility{
  opacity: 0;
  
}
.recipeCard:hover{
  .visibility{opacity: 1;}
    
  }
@include responsive(mobile) {
  .recipeContainer {
     @include flex(center,center,row,1rem ,wrap);
    .recipeCard {
      width: 100%;
    }
  }
}
@include responsive(tablet) {
  .recipeContainer {
    @include flex(center,center,row,1rem ,wrap);
    .recipeCard {
      width: 100%;
    }
  }
}