@import "../styles/mixins";
.isActive {
  color: var(--primary);
  font-weight: 600;
}

.navbar {
  width: 100%;
  @include flex(space-between, center, row);

  // background: radial-gradient(var(--primary),var(--secondary),var(--tertiary));
  background: var(--primary);
  border-bottom: 1px solid var(--border);
  
  // color: var(--white);


  padding: 0.8rem 1rem;

  .avatar{
     border-radius: 100%;
     width: 25px;
    // border: 1px solid red;
    background: #6b2626;
    // background-color: var[--border];
    img {
      
    // border: 1px solid red;
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 100%;
    }
  }


  &__logo {
    border-radius: 100%;
    border: 1px solid red;
    // background-color: transparent;
    img {
      
    border: 1px solid red;
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 100%;
    }
  }
  a {
    text-decoration: none;
    padding: 2px 0.5rem;
    border-radius: 3px;
    transition: 0.2s;
    color: var(--tertiary);
    &:hover {
      // color: var(--text);
      text-decoration:underline;
    }
  }
  
}

@include responsive(tablet){
  .navbar{
    width: 100%;
    @include flex(center,center,row,.1rem,wrap);
    font-size: clamp(1rem, 1vw + 0.75rem, .5rem);
    padding: .1rem;
    // margin: .1rem;
  }
}

// @include responsive(tablet){}

// @include responsive(mobile){}