@import '../styles/mixins';

.recipeContainer {
  width: 100%;
  @include flex(center);
  .recipeCard {
    position: relative;
    @include flex(flex-start, center, column, 1.5rem);
    padding: 1.5rem;
    .recipeImg {
      width: 100%;
      max-width: 350px;
      border-radius: 10px;
    }
  }
}
.positivebtn {
  @include button();
}
.negativebtn {
  background: tomato;
  color: var(--white);
}
.like {
  position: absolute;
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.like:hover {
  transform: scale(1.1);
}
@include responsive(mobile) {
  .like {
    width: 30px;
  }
}
@include responsive(tablet) {
  .like {
    width: 30px;
  }
}
